<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Danslo\VelvetGraphQl\Model\GraphQl\GridItemUnionReader">
        <arguments>
            <argument name="gridItemTypes" xsi:type="array">
                <item name="VelvetGridOrder" xsi:type="string">VelvetGridOrder</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Danslo\VelvetOrderGraphQl\Model\GraphQl\TableReader\Order" type="Danslo\VelvetGraphQl\Model\GraphQl\TableReader">
        <arguments>
            <argument name="schemaType" xsi:type="string">VelvetGridOrder</argument>
            <argument name="tableName" xsi:type="string">sales_order_grid</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\Framework\GraphQlSchemaStitching\Reader">
        <arguments>
            <argument name="readers" xsi:type="array">
                <item name="orderTableReader" xsi:type="object">Danslo\VelvetOrderGraphQl\Model\GraphQl\TableReader\Order</item>
            </argument>
        </arguments>
    </virtualType>
</config>
