<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Danslo\VelvetOrderGraphQl\Model\Resolver\Grid\ItemTransformer">
        <arguments>
            <argument name="currencyFormatFields" xsi:type="array">
                <item name="grand_total" xsi:type="string">grand_total</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Danslo\VelvetOrderGraphQl\Model\Resolver\Grid" type="Danslo\VelvetGraphQl\Model\Resolver\Grid">
        <arguments>
            <argument name="defaultOrderField" xsi:type="string">created_at</argument>
            <argument name="itemTransformer" xsi:type="object">Danslo\VelvetOrderGraphQl\Model\Resolver\Grid\ItemTransformer</argument>
            <argument name="schemaType" xsi:type="string">VelvetGridOrder</argument>
            <argument name="collectionFactoryType" xsi:type="string">Magento\Sales\Model\ResourceModel\Order\Grid\CollectionFactory</argument>
            <argument name="aclResource" xsi:type="string">Magento_Sales::sales_order</argument>
        </arguments>
    </virtualType>
</config>
